*.la
*.lo
*.log
*.m4
*.o
*.trs
.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libctx.pc
libtool
ltmain.sh
missing
src/benchmark
src/test
test-driver
